/credentials.php
.idea
node_modules/
vendor/
var/
config.generated.php
.idea/
containers/nginx/config/nginx.conf
containers/varnish/config/default.vcl
containers/varnish/libvmod-geoip2-1.3.0
site.css
site.css.map
app/public/js/app.bundle.js
app/public/js/app.bundle.map
app/public/js/app.bundle.map.gz
data
app.bundle.js.gz
davidshimjs-qrcodejs-04f46c6
ignore
tmp
delete_this_to_update_npm_modules.txt
.deptrac.cache
swagger
site.css.gz
app/womens_coin
university_road
/app/public/tsx/generated/constants.tsx
composer_oauth_token.txt
app/public/pdfjs-4.9.155-dist
