version: "3"
services:
  caddy:
    build: containers/caddy
    volumes:
      - .:/var/app
    depends_on:
     - php_fpm
    networks:
      app_network:
    restart: always
  chrome_headless:
    # build: containers/chrome_gaaaaaaah
    image: chromedp/headless-shell
    # image: browserless/chrome:latest
    # image: femtopixel/google-chrome-headless
    # image: zenika/alpine-chrome
    # image: alpeware/chrome-headless-stable
    ports:
      - "9222:9222"
      - "9223:9223"
    cap_add:
      - SYS_ADMIN
    environment:
      - CHROME_OPTS=--window-size="1024,800"
    networks:
      app_network:
    security_opt:
      - seccomp:unconfined
      #extra_hosts:
      #      - "local.phpimagick.com:imagick_php_backend"
      # - "local.phpimagick.com:162.242.195.82"
   # entrypoint: ['/usr/local/bin/dlv', '--listen=: 2345', '--headless=true', '--api-version=2', 'exec', 'cmd/main.go']

  mediawiki:
    image: mediawiki:latest
    container_name: mediawiki
    ports:
      - "8080:80"
    environment:
      MEDIAWIKI_DB_HOST: db
      MEDIAWIKI_DB_USER: mediawiki
      MEDIAWIKI_DB_PASSWORD: abcd1234
      MEDIAWIKI_DB_NAME: mediawiki
      # MEDIAWIKI_DB_USER: mediawiki
      # MEDIAWIKI_DB_PASSWORD: db_pasword
      # MEDIAWIKI_DB_NAME: mediawiki
    networks:
      app_network:
    depends_on:
      - db
    volumes:
      - ./mediawiki_data:/var/www/html/images
      - ./containers/mediawiki/LocalSettings.php:/var/www/html/LocalSettings.php
  db:
    image: mysql:8.0.30
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: PrJaGpnNSzSLW8p8
      MYSQL_DATABASE: bristolian
      MYSQL_USER: bristolian
      MYSQL_PASSWORD: p5ffrKSk4mPqN8vH
      MYSQL_ROOT_HOST: "%"
    networks:
      app_network:
    restart: always
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./data/mysql_import:/docker-entrypoint-initdb.d
  installer:
    build: containers/installer
    environment:
      - COMPOSER_CACHE_DIR=/var/app/var/cache/composer
      - COMPOSER_ALLOW_SUPERUSER=1
      - MYSQL_HOST=db
      - MYSQL_DATABASE=bristolian
      - MYSQL_USER=bristolian
      - MYSQL_PASSWORD=p5ffrKSk4mPqN8vH
    networks:
      app_network:
    volumes:
      - .:/var/app
  installer_npm:
    build: containers/installer_npm
    networks:
      app_network:
    volumes:
      - .:/var/app
  js_builder:
    build: containers/js_builder
    volumes:
      - .:/var/app
  sass_dev_builder:
    build: containers/sass_dev_builder
    volumes:
      - .:/var/app
  php_fpm:
   build: containers/php_fpm
   # The image name is so the debug container can be built from it
   image: bristolian_php_fpm
   environment:
      - COMPOSER_CACHE_DIR=/var/app/var/cache/composer
      - COMPOSER_ALLOW_SUPERUSER=1
      - BRISTOLIAN_HOST_PATH=${BRISTOLIAN_HOST_PATH}
   networks:
      app_network:
   restart: always
   volumes:
     - .:/var/app
  php_fpm_debug:
    build: containers/php_fpm_debug
    environment:
      - COMPOSER_CACHE_DIR=/var/app/var/cache/composer
      - COMPOSER_ALLOW_SUPERUSER=1
      - ITERM_TITLE=bristolian php-debug
      - PHP_IDE_CONFIG=serverName=BRISTOLIAN_DEBUG
      - BRISTOLIAN_HOST_PATH=${BRISTOLIAN_HOST_PATH}
    depends_on:
      - php_fpm
    networks:
      app_network:
    volumes:
      - .:/var/app
  php_websocket:
    build: containers/php_websocket
    # The image name is so the debug container can be built from it
    # image: bristolian_php_fpm
    environment:
      - COMPOSER_CACHE_DIR=/var/app/var/cache/composer
      - COMPOSER_ALLOW_SUPERUSER=1
    networks:
      app_network:
    restart: always
    volumes:
      - .:/var/app
  redis:
    image: redis:6.2.4
    volumes:
      - .:/var/app
    command: ["redis-server", "/var/app/containers/redis/config/redis.conf"]
    networks:
      app_network:
    restart: always
  supervisord:
    build: containers/supervisord
    depends_on:
      - redis
      - db
    networks:
      app_network:
    restart: always
    volumes:
      - ./data/supervisor:/var/log/supervisor
      - .:/var/app
  varnish:
    build: containers/varnish
    environment:
      CACHE_SIZE: 128m
    networks:
      app_network:
    restart: always
    volumes:
      - ./:/var/app
    depends_on:
      - caddy
      - php_fpm
networks:
  app_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.5.0.0/16
