parameters:
    level: 6
    paths:
        - src
        - test
    excludePaths:
        - src/Bristolian/FromString.php
        - src/Bristolian/ToString.php
        - src/ModernGov/generate_types.php
        - src/OpenApi/OpenApiGenerator.php
        - src/Bristolian/CliController/GenerateFiles.php
    bootstrapFiles:
        - config.generated.php
        - credentials.php
        - api/src/api_convert_exception_to_json_functions.php
        - api/src/api_factories.php
        - api/src/api_functions.php
        - api/src/api_injection_params.php
        - api/src/api_routes.php
        - app/src/app_convert_exception_to_html_functions.php
        - app/src/app_factories.php
        - app/src/app_functions.php
        - app/src/app_injection_params.php
        - app/src/app_routes.php
    ignoreErrors:
        -
          message: '#Method .* has no return type specified.#'
          path: *test/*Test.php

        -
          message: '#Unreachable statement - code above always terminates.#'
          path: *test/*Test.php
        -
          message: '#If condition is always true.#'
          path: *src/Bristolian/MarkdownRenderer/CommonMarkRenderer.php
        -
          message: '#Argument of an invalid type .* supplied for foreach, only iterables are supported.#'
          path: *src/Bristolian/ToArray.php
        -
          message: '#Method .* should return * but returns object.#'
          path: *src/Bristolian/ToArray.php

