<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="test/phpunit_bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"


         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">

  <!--         stopOnFailure="true"-->
  <!--         stopOnError="true"-->


  <testsuites>
    <testsuite name="default">
      <directory>test</directory>
    </testsuite>
  </testsuites>

  <source restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/TypeSpec/OpenApi</directory>
      <file>src/TypeSpec/OpenApi/OpenApiV300Description.php</file>
      <file>src/TypeSpec/OpenApi/ShouldNeverBeCalledParamDescription.php</file>
    </exclude>
  </source>

  <coverage includeUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="false">
    <report>
      <clover outputFile="clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>


      <!-- toggle begin <html outputDirectory="tmp/coverage" lowUpperBound="50" highLowerBound="90"/> -->
<html outputDirectory="tmp/coverage" lowUpperBound="50" highLowerBound="90"/>
<!-- toggle end-->

    </report>
  </coverage>

  <groups>
    <exclude>

      <group>needs_fixing</group>
      <group>external</group>
      <group>xdebug</group>
      <group>deadish</group>
      <!-- <group>slow</group> -->

      <!-- toggle begin <group>db</group>-->
<group>db</group>
<!-- toggle end-->
    </exclude>
  </groups>


  <logging>
    <!-- <log type="coverage-php" target="../tmp/coverage/unittest.cov"/> -->
  </logging>
</phpunit>
