{
	# debug
	auto_https off
}



*.bristolian.org:80, bristolian.org:80 {
	root * /var/app/app/public
	php_fastcgi php_fpm:9000
	file_server

	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.vtt *.mp4
	}

	header @static Cache-Control public, max-age=3600, stale-while-revalidate=600

	encode {
		gzip
		zstd

		# minimum_length <length>

		# response matcher single line syntax
		# match [header <field> [<value>]] | [status <code...>]
		# or response matcher block for multiple conditions
		# match {
		#	status <code...>
		#	header <field> [<value>]
		# }
	}
}
