{
	auto_https off
	# http_port 80,8001
	# debug
}

*.api.bristolian.org:80, *.bristolian.org:80, bristolian.org:80 {
	root * /var/app/app/public
	php_fastcgi php_fpm:9000
	file_server

	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.vtt *.mp4
	}

	header @static Cache-Control max-age=3600

	encode {
		gzip
		zstd
	}
}

http://*.api.bristolian.org:8001, http://*.bristolian.org:8001, http://bristolian.org:8001 {
	root * /var/app/app/public
	php_fastcgi php_fpm_debug:9000
	file_server

	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.woff2 *.json *.vtt *.mp4
	}

	header @static Cache-Control max-age=3600

	encode {
		gzip
		zstd
	}
}
