
// Global resets of standard HTML elements

html {
  scroll-behavior: smooth;
  background-color: var(--background_color);
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

