.bristol_stairs {
    display: flex;
    border: 2px solid #1f1f1f;
    box-sizing: border-box;
    min-width: fit-content;

    .bristol_stairs_map_class {
        flex: 1;
        min-height: 600px;
        max-width: 50vw;
    }

    .bristol_stairs_panel {
        //width: 100%;
        min-width: 0;           // allow shrinking inside flex parent
        box-sizing: border-box;

        img {
            display: block;         // removes inline whitespace
            margin: 0;              // reset default margin
            padding: 0;             // reset default padding

            max-width: 500px;   // cap width
            max-height: 500px;  // cap height
            width: auto;        // let browser adjust
            height: auto;
        }

        .contents-wrapper {
            width: 100%;       // fit parent
            max-width: 100%;   // prevent overspill
            min-width: 0;      // allow shrinking
            box-sizing: border-box;

            label {
                font-weight: bold;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 12rem; // keep labels from forcing wide grid
            }

            .form-row {
                display: grid;
                grid-template-columns: 7rem 1fr;
                align-items: start;
                margin-bottom: 0.5rem;

                label {
                  margin-right: 0.5rem;
                }

                input {
                    width: 250px;
                }
            }

            input {
                padding: 0.25rem 0.5rem;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }

    @media screen and (min-width: 680px) {
        flex-direction: row;

        .bristol_stairs_map_class {
            flex: 1;
            min-width: 600px;
        }

        .bristol_stairs_panel {
            flex: 0 0 auto;
            max-width: 600px;
            margin-left: 20px;
        }
    }
}
