button {

  /* clicking buttons leads to accidental text selection far too often */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  border: 1px solid #000;
  cursor: pointer;
  border-radius: 3px;
  background-color: #2782ff;
  color: white;
  padding: 0.4rem 0.8rem;
  margin: 3px;

  &:hover {
    background: #d2e3ff;
    color: black;
  }

  &:disabled {
    background: #aaa;
    color: #eee;
    cursor: not-allowed;

    &:hover {
      background: #aaa; // prevent hover effect when disabled
    }
  }

}

.unstyled {
  border: initial;          /* resets border */
  cursor: auto;             /* default cursor */
  border-radius: 0;         /* remove rounding */
  background-color: transparent; /* remove background */
  color: inherit;           /* inherit text color */
  padding: 0;               /* remove padding */
  margin: 0;                /* remove margin */
}