
@use "variables.scss";

// We use abbreviations in the template areas, so that we can
// lay them out in a grid evenly, rather than having wildly
// different line lengths.
// hd = headers
// bc = breadcrumbs
// pn = previous + next links
// mc = main content
// cl = content links
// ft = footer

.bristolian_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.bristolian_header {
  grid-area: hd;
  padding-left: var(--page_padding_left);
  padding-right: var(--page_padding_right);
  padding-top: 8px;
  padding-bottom: 8px;
}

.bristolian_breadcrumbs {
  grid-area: bc;
  padding-left: var(--page_padding_left);
  padding-right: var(--page_padding_right);
}

.bristolian_prev_next {
  grid-area: pn;
  flex-grow: 1;

  @media (max-width: 640px) {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.bristolian_content {
  grid-area: mc;
  padding-left: var(--page_padding_left);
  padding-right: var(--page_padding_right);
  overflow-x: auto;
}

.bristolian_content_links {
  grid-area: cl;
  padding: 5px;
}

.bristolian_footer {
  grid-area: ft;
  flex-shrink: 0;
}



// This is default, for screens larger than $screen_break_large
.bristolian_wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "bc bc bc bc bc bc pn pn pn"
        "mc mc mc mc mc mc mc mc mc"
        "ft ft ft ft ft ft ft ft ft";
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: variables.$screen_break_large) {
  .bristolian_wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "bc bc bc bc bc pn pn pn pn"
        "mc mc mc mc mc mc mc mc mc"
        "cl cl cl cl cl cl cl cl cl"
        "ft ft ft ft ft ft ft ft ft";
    flex-direction: column;
    align-items: stretch;
  }
}

@media (max-width: variables.$screen_break_medium) {
  .bristolian_wrapper {
    grid-template-areas:
            "hd hd hd hd hd hd hd hd hd"
            "bc bc bc bc bc bc pn pn pn"
            "mc mc mc mc mc mc mc mc mc"
            "cl cl cl cl cl cl cl cl cl"
            "ft ft ft ft ft ft ft ft ft";
    flex-direction: column;
    align-items: stretch;
  }
}


@media (max-width: variables.$screen_break_small) {
  .bristolian_wrapper {
    grid-template-areas:
            "hd hd hd hd hd hd hd hd hd"
            "bc bc bc bc bc bc bc bc bc"
            "pn pn pn pn pn pn pn pn pn"
            "mc mc mc mc mc mc mc mc mc"
            "cl cl cl cl cl cl cl cl cl"
            "ft ft ft ft ft ft ft ft ft";

    flex-direction: column;
    align-items: stretch;
  }
}


.roompage {
  display: flex;
  width: 100%;
  height: 100%;
}

.roompage__left {
  flex: 0 0 30%;
}

.roompage__right {
  flex: 1; // takes the remaining ~40%
}