
@use "colors.scss";
@use "variables.scss";
@use "fonts.scss";

@use "layout.scss";
@use "breadcrumbs.scss";
@use "button.scss";
@use "chat.scss";
@use "content.scss";
@use "content_links.scss";
@use "footer.scss";
@use "header.scss";
@use "images.scss";
@use "prev_next.scss";
@use "basic.scss";
@use "comments_panel.scss";
@use "code.scss";
@use "merch.scss";
@use "sourcelink.scss";


// todo move this to it's own repo
@use "meme_upload_panel.scss";
@use "modal.scss";
@use "naming_things.scss";
@use "notifications_panel.scss";
@use "funding.scss";
@use "floating_point.scss";
@use "room_file_upload_panel.scss";

@use "bristol_stairs.scss";

@use "table.scss";
@use "teleprompter.scss";
@use "qr_code_generator.scss";
@use "twitter_splitter.scss";

body {
  font-family: SourceSansPro-Regular, Arial, x-locale-body, sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 16px;
}

th {
  font-family: Manrope, Arial, x-locale-body, sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin, Arial, x-locale-body, sans-serif;
  font-weight: 600;
}

blockquote {
  quotes: "“" "”" "‘" "’";
  background: #f9f9f9;
  font-style: italic;
}


//blockquote::before {
//  content: open-quote;
//}
//blockquote::after {
//  content: close-quote;
//}



// TODO - move the below to a system.css

.width_above_large,
.width_medium_to_large,
.width_small_to_medium,
.width_below_small {
  display: none;
}

@media (min-width: variables.$screen_break_large) {
  .width_above_large {
    display: inline-block;
  }
}

@media (max-width: variables.$screen_break_large) {
  @media (min-width: variables.$screen_break_medium) {
    .width_medium_to_large {
      display: inline-block;
    }
  }
}

@media (max-width: variables.$screen_break_medium) {
  @media (min-width: variables.$screen_break_small) {
    .width_small_to_medium {
      display: inline-block;
    }
  }
}

@media (max-width: variables.$screen_break_small) {
  .width_below_small {
    display: inline-block;
  }
}

.text_note_layout {
  display: flex;
  align-items: flex-start;
}

.text_note_layout > span:last-child {
  flex: 1 1 auto;
  min-width: 0;
}

.text_note_iframe_container {
  flex: 0 1 65%;
  flex-basis: 65%;
  width: 65%;
  height: 80vh;
  max-width: none;
  min-width: 900px;
  min-height: 600px;
  resize: both;
  overflow: hidden;
  display: block;
  position: relative;
}
  
.text_note_iframe {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  display: block;
}

.text_note_panel {
  flex: 1;
}

.processors {
  .disabled {
    background-color: #ff8b8b;
  }
  .enabled {
    background-color: #8bff95;
  }
}

/* Lightbox overlay */
.lightbox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
}