table {
  border-collapse: collapse;
  font-size: 1rem;
  border: 0px;

  tr {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }

  th {
    text-align: left;
    vertical-align: top;
    font-family: Manrope, Arial, x-locale-body, sans-serif;
    font-weight: 600;
  }

  td {
    vertical-align: top;
  }

  th, td {
    padding-top:4px;
    padding-bottom:4px;
    padding-right:4px;
  }
}

table.large_table {
  tr:hover td
  {
    border-top: 1px solid var(--table_row_border_hover_color);
    border-bottom: 1px solid var(--table_row_border_hover_color);
  }

  tr:hover td:first-child
  {
    border-left: 1px solid var(--table_row_border_hover_color);
  }

  tr:hover td:last-child
  {
    border-right: 1px solid var(--table_row_border_hover_color);
  }

  tr:nth-child(even) {
    background: rgba(230, 230, 230, 0.5)
  }
}