#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# !includedir /etc/mysql/conf.d/
# !includedir /etc/mysql/mysql.conf.d/

[mysqld]
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default_authentication_plugin=mysql_native_password

# Unit tests have suddenly started failing with "too many connections"
max_connections = 5000
max_user_connections = 300

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
